body {
    font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.add-off-food-modal {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.add-off-food-modal-content {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.add-off-food-modal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.add-off-food-modal:hover,
.add-off-food-modal:focus {

    color: #000;
    text-decoration: none;
    cursor: auto;
}

.add-off-food-modal-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 16px;
    background-color: rgb(255, 158, 0);
    color: white;
}

.add-off-food-modal-body {
    padding: 2px 16px;
}

.add-off-food-modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}